<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Carpool</h1>
    <div class="col-6 offset-3">
        <form action="/driver-carpools/<%= driverusernmae %>/carpools" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="time">Time</label>
                <input class="form-control" type="text" id="time" name="carpool[time]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="departure_city">Departure City</label>
                <div class="input-group">
                    <span class="input-group-text" id="departure_city-label">$</span>
                    <input type="text" class="form-control" id="departure_city" placeholder="" aria-label="departure_city"
                        aria-describedby="departure_city-label" name="carpool[departure_city]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="destination_city">Destination City</label>
                <div class="input-group">
                    <span class="input-group-text" id="destination_city-label">$</span>
                    <input type="text" class="form-control" id="destination_city" placeholder="" aria-label="destination_city"
                        aria-describedby="destination_city-label" name="carpool[destination_city]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                        aria-describedby="price-label" name="carpool[price]" required>
                </div>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="car_plate">Plate Number</label>
                <textarea class="form-control" type="text" id="car_plate" name="carpool[car_plate]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="availability">Availability</label>
                <textarea class="form-control" type="text" id="availability" name="carpool[availability]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Carpool</button>
            </div>
        </form>
    </div>
</div>