footer {
        padding: 10px 20px;
        background-color: rgb(175, 194, 188);
        margin-top: auto;
        font-size: 12px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
}

.slogan {
    font-style: oblique;
}
